Repository Klub-1/Investor-Blog, changes with the owners that .github/CODEOWNERS names for each.
All owners: *@baldm, @Nikoditten, @louismonty, @irisswt

create comment and show it in real time
  frontend/src/Api/api.js
  frontend/src/App.js
  frontend/src/Data/TestData/BlogPostData.js
  frontend/src/components/BlogPost.jsx
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/models/BlogPost.js
  frontend/src/models/Comment.js
  frontend/src/models/Interaction.js
  frontend/src/stores/BlogPostStore.js
  frontend/src/views/AccountView.jsx
  frontend/src/views/AddView.jsx
  frontend/src/views/HomeView.jsx
  frontend/src/views/SearchView.jsx
  frontend/src/views/StocksView.jsx
Owners: @Nikoditten

Changed openapi prefix to fix bug
  backend/api/api.py
Owners: *@baldm

Created endpoint test
  backend/tests/endpoint_test.py
Owners: *@baldm

Fixed deleted files in metrics folder (unrelated))
  metrics/datasource.yml
  metrics/prometheus.yml
Owners: none

Test for creating user and post
  backend/tests/endpoint_test.py
Owners: *@baldm

Changed ip
  backend/tests/endpoint_test.py
Owners: *@baldm

status codes, delete interactions and much more
  backend/api/api.py
  backend/api/crud.py
  backend/model/models.py
  backend/model/schemas.py
  frontend/src/Auth/AuthHandler.js
  frontend/src/components/BlogPost.jsx
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/models/BlogPost.js
  frontend/src/stores/BlogPostStore.js
  frontend/src/views/AddView.jsx
  frontend/src/views/HomeView.jsx
  frontend/src/views/SearchView.jsx
Owners: *@baldm, @Nikoditten

interactions
  backend/api/crud.py
  backend/model/models.py
  backend/model/schemas.py
  frontend/src/Api/api.js
  frontend/src/Auth/AuthHandler.js
  frontend/src/components/BlogPost.jsx
  frontend/src/stores/BlogPostStore.js
Owners: *@baldm, @Nikoditten

Added backend logging and integration with sentry
  backend/api/api.py
  backend/requirements.txt
Owners: *@baldm

added login function
  backend/api/api.py
  backend/api/crud.py
  backend/model/models.py
  backend/model/schemas.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/view/AccountView.jsx
  frontend/yarn.lock
Owners: *@baldm, @Nikoditten

Started work on stocks in database
  backend/api/api.py
  backend/api/crud.py
Owners: *@baldm

interactions and test
  backend/api/api.py
  backend/api/crud.py
  frontend/playwright-tests/AddBlogPost.test.ts
  frontend/src/Api/api.js
  frontend/src/components/BlogPost.jsx
  frontend/src/models/BlogPost.js
  frontend/src/models/Comment.js
  frontend/src/models/Interaction.js
  frontend/src/stores/BlogPostStore.js
  frontend/src/tests/AddBlogPost.test.js
  frontend/src/tests/api.test.js
Owners: *@baldm, @Nikoditten

Update Search.test.js
  frontend/src/tests/Search.test.js
Owners: @Nikoditten

refactoring
  frontend/src/Auth/AuthHandler.js
  frontend/src/components/BlogPost.jsx
  frontend/src/models/BlogPost.js
  frontend/src/models/Comment.js
  frontend/src/stores/BlogPostStore.js
  frontend/src/tests/Search.test.js
  frontend/src/tests/SideBar.test.js
  frontend/src/views/AddView.jsx
Owners: @Nikoditten

added login
  backend/api/api.py
  backend/model/models.py
  backend/requirements.txt
  frontend/src/view/AccountView.jsx
Owners: *@baldm, @Nikoditten

.github/CODEOWNERS:

backend *@baldm

frontend @Nikoditten

.github louismonty
ansible-DevOps @louismonty

docs @irisswt
